.statistics_section {
  width: 100%;
  padding-bottom: 40px;
}

.title {
  text-align: center;
  padding-bottom: 25px;
}

.statUl {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  width: auto;
}

.statLi {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80px;
  padding: 10px 10px;
  font-weight: 600;
  font-size: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-left: 15px;
  margin-bottom: 20px;
  border: 0.5px grey solid;
}

.label {
  font-size: 30px;
}
