.table_container {
  display: flex;
  justify-content: center;
}

table th,
table td {
  padding: 10px 50px;
  border: 1px solid #212121;
}

table {
  border-collapse: collapse;
  margin-bottom: 50px;
}

.headline {
  color: white;
  background-color: rgb(95, 158, 160);
}
